.row{
    margin-left: 0;
    margin-right: 0;
}

body{
    background-color: #262626;
}

a{
    font-size: 31px;
    color: #e1b838;
}

a:hover{
    color: #262626;
}

li:hover{
    background-color: #e1b838;
    transition: 0.7s;
}

/* LOGO */
.logo{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    padding: 0px;
}

/* MENU */
#main_menu{
    height: 70px;
    margin-top: 90px;
    border: 3px solid #e1b838;
}

#main_menu ul{
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

#main_menu ul li{
    display: inline-block;
    line-height: 65px;
    width: 130px;

}

#main_menu ul li a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 32px;
}

/* SLIDER */
#sector_slider{
    padding-top: 35px;
    position: relative;
    text-align: center;

}

.slider img{
    width: 100%;
    height: auto;
}

.slider-text table{
    width: 40%;
    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #e1b838;
}

.slider-text th{
    background-color: #e1b838;
    font-size: 46px;
    color: #262626;
}
.slider-text td{
    font-size: 46px;
    color: #ffffff;
}

/* Menu*/

.menu_title{
    font-size: 62px;
    color: #ffffff;
    padding-top: 60px;
    text-align: center;
}

.grey_bg{
    margin-top: 60px;
    background-image: url("./img/grey-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.menu_tab_text{
    margin-bottom: 50px;

}

.menu_tab_text table{
    width: 100%;
    border: 3px solid #e1b838;

}

.menu_tab_text th{
    background-color: #e1b838;
    font-size: 26px;
    color: #262626;
}

.menu_tab_text td{
    font-size: 16px;
    color: #ffffff;
}

.menu_price{
    margin: 0px;
    float: right;
    padding-right: 5px;
}

.menu_text_food_name{
    padding-left: 5px;
}

.table_margin_top{
    margin-top: 50px;
}

/* discont sector */
.discount_sector {
    margin-top: 60px;
    padding-top: 100px;
    padding-right: 25px;
}

.discount_text h2{
    color: #e1b838;
    text-align: right;
    font-size: 54px;
}

.discount_sector {
    background-image: url("./img/click-sector.jpg");
    height: 708px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.discount_sector input {
    margin-top: 15px;
    float: right;
    background-color: #e1b838;
    border: none;
    width: 180px;
    height: 40px;
}
/* info */

.grey_bg_info{
    background-image: url("./img/grey-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 920px;
    padding-top: 80px;
}

.info_tab_text table{
    width: 70%;
    border: 3px solid #e1b838;
    float: right;
}


.table{
    margin: auto;
}

.info_tab_text th{
    background-color: #e1b838;
    font-size: 40px;
    color: #262626;
    text-align: center;
}

.info_tab_text td{
    font-size: 40px;
    color: #ffffff;
    height: 100px;
    text-align: center;
    padding-top: 15px;
}

.info_text{
    font-size: 29px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

 .info_img img{
    width: 100%;
    height: auto;
}
 /* f---- */
.grey_bg_info_second{
    background-image: url("./img/bg_meet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 830px;
    margin-top: 100px;
}

.grey_bg_info_second .info_tab_text table{
    width: 50%;
    border: 3px solid #e1b838;
   
}

.grey_bg_info_second .info_tab_text th{
    background-color: #e1b838;
    font-size: 40px;
    color: #262626;
    text-align: center;
}

.grey_bg_info_second .info_tab_text td{
    font-size: 40px;
    color: #ffffff;
    height: 100px;
    text-align: center;
    padding-top: 15px;
}

.grey_bg_info_second .info_text{
    font-size: 29px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.info_s_margin{
    padding-top: 280px;
}

/* third */

.grey_bg_info_third{
    background-image: url("./img/four_meets.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 825px;
    margin-top: 60px;
}

.grey_bg_info_third .left_side_table{
    padding-top: 95px;
}

.grey_bg_info_third .right_side_text{
    padding-top: 220px;
}

.info_s_margin{
    padding-top: 280px;
}

/* /footer */

.social-site{
    padding-top: 50px;
    padding-bottom: 40px;
}

.f_title{
    display: flex;
    justify-content: center;
    padding: 0px;
}

.left p{
    font-size: 25px;
    color: #ffffff;

}

.right ul li{
    display: inline;
}

.info_tab_text_footer table{
    width: 80%;
    border: 3px solid #e1b838;

}

.info_tab_text_footer th{
    background-color: #e1b838;
    font-size: 25px;
    color: #262626;
    text-align: center;
}

.info_tab_text_footer td{
    font-size: 25px;
    color: #ffffff;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}

.info_tab_text_footer{
    font-size: 16px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 575.98px) { 
    .slider-text table{
        width: 50%;
        height: 20%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 3px solid #e1b838;
    }
    .slider-text th{
        background-color: #e1b838;
        font-size: 26px;
        color: #262626;
    }
    .slider-text td{
        font-size: 26px;
        color: #ffffff;
    }

    .menu_tab_table{
        flex-direction: column;
        align-items: center;
    
    }

    .menu_tab_table table{
        width: 300px;
        margin-left: -95px;
    }

}

@media (max-width: 767.98px) { 
    .slider-text table{
        width: 50%;
        height: 20%;
    }
    .slider-text th{
        font-size: 26px;

    }
    .slider-text td{
        font-size: 26px;
    }

    #sector_slider{
        padding-top: 45px;
    }

    .info_tab_text_footer table{
        margin: 0 auto;
    }

    .footer_nav a{
        font-size: 24px;
    }

    .footer_nav li{
        text-align: center;
    }

    .left p, .right a{
        font-size: 24px;
    }

    .left{
        padding-left: 50px;
    }

    .right{
        padding-left: 50px;
    }
}

@media (max-width: 991.98px) { 
    #main_menu ul li a{
        font-size: 26px;
    }
    
    .slider-text table{
        width: 40%;
        height: 30%;
    }
    .slider-text th{
        font-size: 24px;

    }
    .slider-text td{
        font-size: 24px;
    }
    #sector_slider{
        padding-top: 45px;
    }

    .menu_img{
        flex-direction: column;
        text-align: center;
    }

    .menu_img img{
        width: 50%;
        height: auto;
    }

    .discount_sector {
        background-image: url("./img/grey-bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .discount_text h2{
        text-align: center;
    }   

    .info_text{
        text-align: center;
        padding-top: 20px;
    }

    .info_tab_text td {
        font-size: 30px;
    }

    /* ----- */


    .info_tab_text th{
        font-size: 30px;
    }
    
    .info_tab_text td{
        font-size: 30px;
        height: 70px;
        padding-top: 15px;
    }

    .grey_bg_info .info_tab_text {
        display: flex;
        align-items: center;
    }
    .grey_bg_info .info_tab_text th{
        font-size: 24px;
    }

    .grey_bg_info .info_tab_text td{
        font-size: 24px;
    }

    /* ------ */
    .grey_bg_info_second .info_tab_text table{
        width: 40%;
        border: 3px solid #e1b838;
       
    }

    .grey_bg_info_second .info_tab_text th{
        font-size: 24px;
    }

    .grey_bg_info_second .info_tab_text td{
        font-size: 24px;
    }

    .grey_bg_info_third .right_side_text {
        padding-top: 20px;
    }

    .info_s_margin{
        padding-top: 20px;
    }

    
    
}
